<%= form_tag(extended_search_flats_path, :id => 'extended_search_form', :style => 'display:none') do %>
  <div class="field">
    <%= check_box 'with foto', true %><br />
    <%= check_box_tag 'with foto'%>
    <%= check_box_tag :repair, 'accepted', false %> с ремонтом
  </div>
    <%= submit_tag t ('search.search') %> <%= t('search.or')%>
    <%= link_to t('search.cancel'), '#', :onclick => "$('#extended_search_form').slideUp()" %>
  </div>
<% end %>