<%= form_for @flat, :html => { :multipart => true } do |f| %>
  <% if @flat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flat.errors.count, "error") %> prohibited this flat from being saved:</h2>

      <ul>
      <% @flat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :square %><br />
    <%= f.text_field :square %>
  </div>
  <div class="field">
    <%= f.label :rooms %><br />
    <%= f.number_field :rooms %>
  </div>
  <%= f.file_field :foto %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
