<%= form_for @flat, :html => { :multipart => true } do |f| %>
  <% if @flat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flat.errors.count, "error") %> prohibited this flat from being saved:</h2>

      <ul>
      <% @flat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :square %><br />
    <%= f.text_field :square %>
  </div>
  <div class="field">
    <%= f.label :rooms %><br />
    <%= f.number_field :rooms %>
  </div>
  <p>Pending Attachments: (Max of <%= Flat::Max_Attachments %> each under <%= Flat::Max_Attachment_Size/1.megabyte%>MB)
      <% if @flat.assets.count >= Flat::Max_Attachments %>
        <input id="newfile_data" type="file" disabled />
      <% else %>
        <input id="newfile_data" type="file" />
      <% end %>
      <div id="attachment_list"><ul id="pending_files"></ul></div>
      
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
