<h1><%= t 'flats' %></h1>

<%= form_for @search, :url => flats_path, :html => {:method => :get} do |f| %>
  <%= f.label :price_gre, t('price.from') %>
  <%= f.text_field :price_gte, :size => 8 %>
  <%= f.label :price_lte, t('price.to') %>
  <%= f.text_field :price_lte, :size => 8 %> 
  <select >
    <option>млн. руб.</option>
    <option>тыс. долл.</option>
    <option>тыс. евро</option>
  </select><br />
 
  <%= f.label :rooms_gte, t('rooms.from') %>
  <%= f.text_field :rooms_gte, :size => 2 %>
  <%= f.label :rooms_lte, t('rooms.to') %>
  <%= f.text_field :rooms_lte, :size => 2 %><br />
  <%= f.submit t('search.search') %>
<% end %>
 <%= link_to t('search.extended'),'#', :onclick => "$('#extended_search_form').slideDown()"%>
 <%= render 'extended_search'%>
<p>
 <%= t('sort.sort') %> :
 <%= sort_link @search, :price, t('sort.price') %> |
 <%= sort_link @search, :rooms, t('sort.rooms') %>
<p>

<table>
  <tr>
    <th><%= t('sort.price')%></th>
    <th><%= t('square')%></th>
    <th><%= t('sort.rooms')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flats.each do |flat| %>
  <tr>
    <td><%= flat.price %></td>
    <td><%= flat.square %></td>
    <td><%= flat.rooms %></td>
    <td><%= link_to t('show'), flat %></td>
    <td><%= link_to t('edit'), edit_flat_path(flat) %></td>
    <td><%= link_to t('destroy'), flat, confirm: t('delete.sure'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flat', new_flat_path %>
