<h1>Listing flats</h1>

<table>
  <tr>
    <th>Price</th>
    <th>Square</th>
    <th>Rooms</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flats.each do |flat| %>
  <tr>
    <td><%= flat.price %></td>
    <td><%= flat.square %></td>
    <td><%= flat.room %></td>
    <td><%= link_to 'Show', flat %></td>
    <td><%= link_to 'Edit', edit_flat_path(flat) %></td>
    <td><%= link_to 'Destroy', flat, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flat', new_flat_path %>
