<h1><%= t 'main' %></h1>
<ul class="main_menu"> 
	<li class="act">
	  <a href="/">Поиск</a><span class="arrow">&nbsp;</span></li>
	<li>
	  <%= link_to t('flats'), flats_path %> 
	    <span class="arrow">&nbsp;</span>
	</li>
	<li>
	  <%= link_to "Новостройки", '#'%>
	    <span class="arrow">&nbsp;</span>
	</li>
	<li>
	   <%= link_to "Элитные", '#' %>
	    <span class="arrow">&nbsp;</span>
	</li>
	<li>
	  <%= link_to "Дома, коттеджи", '#' %>
	    <span class="arrow">&nbsp;</span>
    </li>
    <li>
     <%= link_to "Дачи", '#' %>
        <span class="arrow">&nbsp;</span>
    </li>
    <li>
      <%= link_to "Земля", '#' %>
        <span class="arrow">&nbsp;</span>
    </li>
    <li>
       <%= link_to "Гаражи", '#' %>
        <span class="arrow">&nbsp;</span>
    </li>
    <li>
       <%= link_to "Аренда", '#' %>
         <span class="arrow">&nbsp;</span>
    </li>
    <li>
      <%= link_to "Коммерческая", '#' %>
        <span class="arrow">&nbsp;</span>
    </li>
    <li>
      <%= link_to "Зарубежная", '#' %>
        <span class="arrow">&nbsp;</span>
    </li>
    <li>
       <noindex>
         <a rel="nofollow" href="http://sochi.reforum.ru">Сочи</a>
       </noindex>
         <span class="arrow">&nbsp;</span>
    </li>
</ul> 
