<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @flat.price %>
</p>

<p>
  <b>Square:</b>
  <%= @flat.square %>
</p>

<p>
  <b>Room:</b>
  <%= @flat.rooms %>
</p>
<p><b>Attached Files:</b><div id="attachment_list"><%= render :partial => "attachment", :collection => @flat.assets %></div></p>


<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
